body {
    margin: 0;
    color: #EEEEEE;
 text-align: center;
   
    
}

.container {
    display: flex;
    justify-content: space-evenly;
    background-color: #1B244A;
    width:auto;
    margin: 100px 200px;
    padding: 25px 35px;
    border-radius: 10%;
    
   
                                               
}

#score-home {
    width: 155px;
    height: 120px;
    left: 82px;
    top: 125px;
    background: #080001;
    border-radius: 5px;
}

#score-guest {
    width: 155px;
    height: 120px;
    left: 82px;
    top: 125px;
    background: #080001;
    border-radius: 5px;
}

.btn-inc {
    padding: 10px;
    color: #9AABD8;
}

span {
font-family: 'Cursed Timer ULiL', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 127px;
color: #F94F6D;
}



#new-game{
    margin-top: 100px;
    padding: 10px 10px;
}